.about {
    min-height: 900px;
    background: #fff;
    &__descr {
        max-width: 760px;
        margin: 0 auto;
        font-size: 20px;

        margin-top: 64px;
    }
    &__text {
        margin-top: 30px;
        line-height: 1.55;
        span {
            font-weight: 700;
        }
    }
    &__devider {
        margin-top: 75px;

        display: flex;
        height: 140px;
    }
    &__block {
        flex: 50%;
        padding: 40px;
        p {
            color: #fff;
            font-size: 22px;
            font-weight: 600;
        }
    }
    &__control {
        background: #ffa820;
    }
    &__eco {
        background: #ffba4c;
        text-align: right;
    }
}