.promo {
    position: relative;
    min-height: 100vh;
    padding: 0 0 80px 0;

    color: #fff;

    .container {
        position: relative;
        z-index: 5;
    }
    &__title {
        margin-top: 60px;
        font-weight: 700;
        font-size: 68px;
        text-align: left;

        width: 760px;
        span {
            font-size: 46px;
            font-weight: 700;
        }
    }
    &__subtitle {
        margin-top: 38px;
        font-weight: 700;
        font-size: 26px;
    }
    &__btns {
        margin-top: 90px;
        display: flex;
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }

    .promo {
        .container {
            z-index: 1;
        }
        &__title {
            width: unset;
            font-size: 48px;
        }
        &__subtitle {
            font-size: 24px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 20px;
    }
    .promo {
        &__title {
            font-size: 28px;
            span {
                font-size: inherit;
                font-weight: inherit;
            }
        }
        &__btns {
            flex-direction: column;
        }
        &__btn {
            &_bee {
                button {
                    width: 140px;
                }
            }
            &_tea {
                margin-top: 20px;
                button {
                    width: 240px;
                }
            }
        }
    }
}
