.footer {
    min-height: 240px;
    background: #ffa820;
    padding: 30px 0;
    &__wrapper {
        display: flex;
        align-items: center;
        height: 280px;
    }
    &__producer {
        flex: 100%;

        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;    
        line-height: 1.55;
        color: #fff;
        span {
            text-transform: capitalize;
        }
    }
    &__menu, &__contacts {
        flex: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;

        list-style: none;
        li {
            color: #fff;
            margin-top: 12px;
        }
    }
    &__menu-title, &__contacts-title {
        font-size: 16px;
        line-height: 1.35;
        font-weight: 600;
        color: #fff;
    }
}


@media (max-width: 768px) {
    .footer {
        &__wrapper {
            height: unset;
            flex-wrap: wrap;
        }
        &__producer {
            margin-bottom: 40px;
        }
        &__menu-title, &__contacts-title {
            font-size: 14px;
        }
        &__menu, &__contacts {
            min-height: 240px;
            li {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 576px) {
    .footer {
        &__wrapper {
            flex-direction: column;
            align-items: start;
        }
        &__producer {
            margin: 0;
        }
        &__menu, &__contacts {
            min-height: 160px;
            margin-top: 40px;
        }
        
    }
}

